<h1>Home#show</h1>
<h2 class="text-3xl font-bold underline">Hello, world</h2>
<p>Find me in app/views/home/show.html.erb</p>

<div class="bg-blue-600 text-white p-4 rounded">
  Hello Tailwind!
  Testing font
</div>
