<h1>Home#show</h1>
<h2 class="text-3xl font-bold underline">Hello, world</h2>
<p>Find me in app/views/home/show.html.erb</p>

<div x-data="{ open: false }" class="bg-slate-400 text-white p-4 rounded">
  Hello Tailwind!
  <button @click="open = !open" class="inline-flex items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-4 py-2 font-semibold leading-6 text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400/50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400/90">Toggle</button>
  <div x-show="open">Hello, Alpine!</div>
</div>
